<div class="wrapper">
  <div class="meta">
    <div class="meta__title" i18n="Card title|Value at this moment in time@@title">
      Current value
    </div>
    <div class="meta__intro">
      <p>Yesterday's closing value was {{ closingValue | currency:'GBP' }}.</p>
      <p>There {watchers, plural, =0 {is nobody} =1 {is one person} =2 {are two people} other {are {{ watchers }} people}} watching right now.</p>
    </div>
  </div>
  <div class="card">

    <div class="card__info">
      The value {trend$ | async, select, up {increased} down {decreased} stable {didn't change}}.
    </div>

    <div class="card__value">
      {{ value$ | async | currency:'GBP' }}
    </div>

    <div class="card__info">
      Transactions: {{ transactions$ | async | number }}
    </div>

  </div>
  <div class="meta">
    <div class="meta__info">
      {{ now$ | async | date:'fullDate' }}
    </div>
    <div class="meta__time">
      {{ now$ | async | date:'mediumTime' }}
    </div>
  </div>
</div>
